<div class="container">
  <div class="row my-4">

    <!--左 投稿表示-->
    <div class="col-12 col-lg-9">
      <!--post-->
      <div class="row mx-md-auto">
        <div class="col-12">
          <div class="card">

            <!--ボディ-->
            <div class="card-body">
              <div class="pb-3">
                <%= link_to user_path(@post.user.name_id) do %>
                  <%= image_tag @post.user.get_user_icon(80,80) %>
                <% end %>
                <%= @post.user.name %>
              </div>
              <div class="px-2">
                <%= simple_format(@post.text) %>
              </div>
              <% if @post.image.present? %>
                <div class="text-center">
                  <%= image_tag @post.image, class: 'img-fluid' %>
                </div>
              <% end %>
            </div>

            <!--フッター-->
            <div class="card-footer">
              <div class="d-block d-md-flex justify-content-between">
                <div>
                  <!--コメント-->
                  <i class="far fa-comment-alt mr-3"></i>
                  <span class="pr-3"><%= @post.comments.count %>コメント</span>

                  <!--いいね-->
                  <% if @post.favorite_by?(current_user) %>
                    <%= link_to user_post_favorites_path(current_user.id, @post), method: :delete do %>
                      <i class="fas fa-heart"></i>
                    <% end %>
                    <span class="pr-3"><%= @post.favorites.count %>いいね</span>

                  <% else %>
                    <%= link_to user_post_favorites_path(current_user.id, @post), method: :post do %>
                      <i class="far fa-heart"></i>
                    <% end %>
                    <span class="pr-3"><%= @post.favorites.count %>いいね</span>

                  <% end %>

                  <!--削除-->
                  <% if @post.user.id == current_user.id %>
                    <%= link_to user_post_path(params[:user_id], params[:id]), method: :delete, data: {confirm: '本当に削除しますか？'} do %>
                      <i class="fas fa-trash-alt"></i>削除
                    <% end %>
                  <% end %>
                </div>

                <!-- TODO: あとで確認 -->
                <div class="text-right text-md-left">
                  <%= @post.created_at.in_time_zone('Tokyo').strftime('%Y/%m/%d %H:%M') %>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

      <!--comment-->
      <div class="row mx-md-auto mb-5">
        <div class="col-12">

          <div class="card">

            <div class="card-body">
              <div class="row">
                <div class="col-12">

                  <% @post.comments.each do |comment| %>
                    <div class="m-2">
                      <%= image_tag comment.user.get_user_icon(50,50) %>
                      <%= comment.user.name %>
                      <div class="pt-3 pb-4 px-2">
                        <%= simple_format(comment.text) %>
                      </div>

                      <div class="d-block d-md-flex justify-content-between">

                        <% if comment.user == current_user %>
                          <div>
                            <%= link_to user_post_comment_path(params[:user_id], params[:id], comment), method: :delete, data: {confirm: '削除しますか？'} do %>
                              <i class="fas fa-trash-alt"></i>
                            <% end %>
                            コメント削除
                          </div>
                        <% else %>

                        <% end %>

                        <div class="text-right text-md-left">
                          <%= @post.created_at.in_time_zone('Tokyo').strftime('%Y/%m/%d %H:%M') %>
                        </div>
                      </div>
                      <hr>
                    </div>

                  <% end %>

                  <%= form_with model: @comment, url: user_post_comments_path(params[:user_id], @post) do |f| %>
                    <div class="form-group">
                      <%= f.text_area :text, rows: 5, class: 'form-control' %>
                    </div>

                    <div class="form-group">
                      <%= f.submit "コメントを送信", class: 'btn btn-primary' %>
                    </div>

                  <% end %>

                </div>
              </div>
            </div>

          </div>

        </div>
      </div>

    </div>

    <!--右側 ユーザー情報表示-->
    <div class="col-12 col-lg-3">
      <%= render "public/users/user_sidebar", user: @user, shop: @shop %>
    </div>


  </div>
</div>
