<div class="container">
  <div class="row mt-5">
    <div class="col-12 col-md-8 mx-auto">
      <%= form_with model: @admin, url:admin_session_path, method: :post do |f| %>
        <%= render "admin/shared/error_messages", resource: resource %>
        <div class="card">
          <div class="card-header">
            <strong>
              管理者ログイン
            </strong>
          </div>
          <div class="card-body">
            <div class="form-group">
              <div class="row">
                <div class="col-12 col-md-4">
                  <%= f.label :email, 'メールアドレス' %>
                </div>
                <div class="col-12 col-md-8">
                  <%= f.text_field :email, class: 'form-control' %>
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="row">
                <div class="col-12 col-md-4">
                  <%= f.label :password, 'パスワード' %>
                </div>
                <div class="col-12 col-md-8">
                  <%= f.password_field :password, class: 'form-control' %>
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="row">
                <div class="col-12 offset-0 offset-md-4 col-md-8">
                  <%= f.submit "ログイン", class: 'btn btn-block btn-success' %>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>

      <%= render "admin/shared/links" %>

    </div>
  </div>
</div>