<div class="form-group text-center">
  <div class="p-3">
    <strong>カテゴリー</strong>
  </div>

  <div class="mx-auto">
    <div class="py-2">
      <%= link_to "すべて", user_shop_path(user.name_id) %>
    </div>

    <% categories.each do |category| %>
      <div class="py-2">
        <%= link_to category.name, user_shop_path(user.name_id, category_id: category.id) %>
      </div>
    <% end %>

  </div>

</div>

<div class="form-group">
  <div class="card">

    <div class="card-body">

      <div class="card-title">
        <div class="h5 text-center">
          <strong><%= shop.name %></strong>
        </div>
      </div>

      <div class="card-text">
        <div class="text-center">
          <%= shop.introduction %>
        </div>
      </div>

    </div>
  </div>

  <% if shop.user == current_user %>
    <div class="text-center mb-5">
      <%= link_to "編集", edit_user_shop_path(current_user), class: 'btn btn-block btn-success' %>
    </div>
  <% end %>

</div>


<!--ショップ管理者メニュー-->
<% if shop.user_id == current_user.id %>
  <div class="form-group text-center">
    <strong>管理者メニュー</strong>

    <ul class="list-unstyled">
      <li class="pt-4 pb-3">
        <%= link_to "商品一覧", user_shop_items_path(current_user) %>
      </li>
      <li class="pb-3">
        <%= link_to "商品新規登録", new_user_shop_item_path(shop.id) %>
      </li>
      <li class="pb-3">
        <%= link_to "注文一覧", user_shop_orders_path(current_user.name_id) %>
      </li>
      <li class="pb-3">
        <%= link_to "カテゴリー管理", user_shop_categories_path(current_user.name_id) %>
      </li>
    </ul>

  </div>
<% end %>
