<div class="container">
  <div class="row mt-4">

    <!--左　サイドバー-->
    <div class="col-12 d-lg-none d-xl-none mt-4">
      <p>
        <button type="button" class="btn btn-light" data-toggle="collapse" data-target="#shopmenu" aria-expanded="false" aria-controls="shopmenu">
          <i class="fas fa-bars"></i>
        </button>
      </p>
      <div>
        <div class="collapse width" id="shopmenu">
          <div class="card card-body" style="width: 250px;">
            <%= render 'public/shops/sidebar', shop: @shop, user: @user, categories: @categories %>
          </div>
        </div>
      </div>
    </div>

    <div class="col-2 d-none d-lg-block">
      <%= render 'public/shops/sidebar', shop: @shop, user: @user, categories: @categories %>
    </div>


    <!--右　編集画面-->
    <div class="col-lg-10 col-sm-12">

      <!--error_message-->
      <% if @shop.errors.any? %>
        <div class="p-3">
          <%= @shop.errors.count %>件のエラーがあります
        </div>

        <ul>
          <% @shop.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>


      <div class="card">
        <div class="card-header">
          <h5>ショップ情報編集</h5>
        </div>

        <%= form_with model: @shop, url:user_shop_path(@shop, current_user), method: :patch do |f| %>
          <div class="card-body">

            <div class="form-group">
              <div class="row">
                <div class="col-12 col-md-4">
                  ショップ名
                </div>
                <div class="col-12 col-md-8">
                  <%= f.text_field :name, class: 'form-control' %>
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="row">
                <div class="col-12 col-md-4">
                  ショップ説明
                </div>
                <div class="col-12 col-md-8">
                  <%= f.text_area :introduction, rows: 5, class: 'form-control' %>
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="row">
                <div class="col-12 col-md-4">
                  送料
                </div>
                <div class="col-12 col-md-8">
                  <%= f.text_field :postage %>円
                </div>
              </div>
            </div>

          </div>

          <div class="card-footer">
            <div class="form-group">
              <div class="row">
                <div class="col-8 offset-2 text-center">
                  <%= f.submit "変更を保存", class: 'btn btn-block btn-success' %>
                </div>
                <div class="col-2"></div>
              </div>
            </div>
          </div>

        <% end %>

      </div>

    </div>


  </div>
</div>