<div class="container">

  <!--ログインしてない場合-->
  <% if !user_signed_in? %>

    <div class="row">
      <div class="col-12 p-4">
        <h1 class="text-center">
          <span class="text-primary">NICESS</span>へようこそ！
        </h1>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-md-6 offset-md-3">
        <div class="card">
          <div class="card-body">
            <div class="text-center py-auto">
              匿名で創作活動をしたい人を応援するSNSサイトです。<br>
              ＥＣサイトを複合することで、<br>
              創作活動をする人たちをつなぎ、支援します。<br>
              <br>
              創作活動や交流を楽しみましょう！
            </div>
         </div>
        </div>
      </div>
      <div class="col-md-3 d-none d-md-block"></div>
    </div>

    <div class="row m-5">
      <div class="col-12">
        <div class="text-center">画像</div>
      </div>
    </div>

    <div class="row mb-5">
      <div class="col-12 text-center">
        <div class="h2">まずはゲストログインをして<br>試してみてください！</div>
        <div class="py-3">※ゲストユーザーはSNSの機能のみ使用できます。</div>
        <div class="p-3 lead">
          <u class="text-primary">
            <%= link_to "こちらからどうぞ！", user_guest_sign_in_path, method: :post, class: 'h4 text-primary' %>
          </u>
        </div>

        <div class="p-3">
          NICESSの詳しい内容は
          <u><%= link_to "ABOUT", about_path, class: 'h5 text-primary' %></u>
          をご覧ください。
        </div>

        <div class="p-3">
          新規登録は
          <%= link_to "こちら", new_user_registration_path, class: 'h5 text-primary' %>
          から
        </div>

        <div class="p-3">
          ログインは
          <%= link_to "こちら", new_user_session_path, class: 'h5 text-primary' %>
          から
        </div>
      </div>
    </div>

  <!--ログインしている場合-->
  <% else %>
    <div class="row">
      <div class="col-12 col-lg-7 my-3 order-1 order-lg-0">
        <div class="my-2">

          <!--投稿内容検索-->
          <%= form_with url:root_path, method: :get, local: true do |f| %>
            <div class="form-group mt-3 mb-5">
              <div class="row">
                <div class="col-8">
                  <%= f.text_field :search, class: "form-control", placeholder: "キーワードで投稿を検索" %>
                </div>
                <div class="col-4">
                  <%= f.button :type => 'submit', class: 'btn btn-md btn-primary' do %>
                    <i class="fas fa-search"></i>検索
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>

          <!--タブ-->
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <!--投稿-->
            <li class="nav-item w-25 text-center">
              <a class="nav-link bg-light active" id="post-tab" data-toggle="tab" href="#post" role="tab" aria-selected="true">
                <i class="fas fa-scroll"></i><br><span style="font-size: 0.8em">全投稿</span>
              </a>
            </li>
            <!--画像投稿-->
            <li class="nav-item w-25 text-center">
              <a class="nav-link bg-light" id="image-tab" data-toggle="tab" href="#image" role="tab" aria-selected="false">
                <i class="fas fa-images"></i><br><span style="font-size: 0.6em">全画像投稿</span>
              </a>
            </li>
            <!--ユーザー-->
            <li class="nav-item w-25 text-center">
              <a class="nav-link bg-light" id="user-tab" data-toggle="tab" href="#user" role="tab" aria-selected="false">
                <i class="fas fa-users"></i><br><span style="font-size: 0.6em">全ユーザー</span>
              </a>
            </li>
            <!--ショップ-->
            <li class="nav-item w-25 text-center">
              <a class="nav-link bg-light" id="shop-tab" data-toggle="tab" href="#shop" role="tab" aria-selected="false">
                <i class="fas fa-shopping-cart"></i><br><span style="font-size: 0.6em">全ショップ</span>
              </a>
            </li>
          </ul>

          <!--タブ内容-->
          <div class="tab-content" id="myTabContent">
            <!--投稿-->
            <div class="tab-pane fade mt-3 show active" id="post" role="tabpanel" aria-labelledby="post-tab">
              <%= render 'public/posts/index', posts: @posts, user: @user %>
              <div id="posts_index"></div>
              <div class="text-center">
                <%= link_to_next_page @posts, 'もっと見る', remote: true, id: 'view_more', class: 'btn btn-lg btn-light' %>
              </div>
            </div>

            <!--画像投稿-->
            <div class="tab-pane fade mt-3" id="image" role="tabpanel" aria-labelledby="image-tab">
              <%= render 'public/posts/image', posts: @posts %>
              <div id="posts_image"></div>
              <div class="text-center">
                <%= link_to_next_page @posts, 'もっと見る', remote: true, id: 'view_more2', class: 'btn btn-lg btn-light' %>
              </div>
            </div>

            <!--ユーザー-->
            <div class="tab-pane fade" id="user" role="tabpanel" aria-labelledby="user-tab">

              <!--ユーザー検索-->
              <%= form_with url:root_path, method: :get, local: true do |f| %>
                <div class="form-group ml-3 mt-3">
                  <div class="row">
                    <div class="col-6">
                      <%= f.text_field :seek, class: 'form-control', placeholder: "ユーザー検索" %>
                    </div>
                    <div class="col-6">
                      <%= f.button :type => 'submit', class: 'btn btn-primary' do %>
                        <i class="fas fa-search"></i>検索
                      <% end %>
                    </div>
                  </div>
                </div>
              <% end %>

              <div class="row">
                <div class="col-12">
                  <% if @users.present? %>

                    <% @users.each do |user| %>
                      <div class="card bg-white mb-3">
                        <div class="card-body">
                          <div class="form-group">
                            <%= link_to user_path(user.name_id) do %>
                              <%= image_tag user.get_user_icon(80,80) %>
                            <% end %>
                            <%= user.name %>
                          </div>
                          <div class="form-group">
                            <%= user.profile %>
                          </div>
                        </div>
                      </div>
                    <% end %>

                  <% else %>
                    <div class="my-5 text-center">
                      ユーザーはいません
                    </div>

                  <% end %>

                </div>
              </div>
            </div>
            <!--ショップ-->
            <div class="tab-pane fade" id="shop" role="tabpanel" aria-labelledby="shop-tab">
              <% if @shops.present? %>
                <%= render 'public/shops/shop', shops: @shops %>
              <% else %>
                <div class="my-5 text-center">
                  ショップはありません
                </div>
              <% end %>
            </div>
          </div>

        </div>
      </div>

      <div class="col-12 col-lg-5 order-0 order-lg-1">

        <!--error_message-->
        <% if @post.errors.any? %>
          <ul>
            <% @post.errors.full_messages.each do |message| %>
              <li class="text-danger"><strong><%= message %></strong></li>
            <% end %>
          </ul>
        <% end %>

        <!--投稿スペース-->

        <div class="mt-4 mb-3 mx-auto">
          <%= form_with model: @post, url: user_posts_path(current_user), method: :post do |f| %>
           <div class="form-group">
             <%= f.text_area :text, rows: 5, class: 'form-control' %>
           </div>
            <div class="form-group">
              <div class="row pb-4">
                <div class="col-7 d-md-none d-lg-none d-xl-none">
                  <%= f.file_field :image, accept: 'image/*', style: "font-size: 0.7em;" %>
                </div>
                <div class="col-md-8 d-none d-md-block">
                  <%= f.file_field :image, accept: 'image/*' %>
                </div>
                <div class="col-5 col-md-4">
                  <%= f.submit '投稿する', class: 'btn btn-primary btn-block', style: "font-size: 0.9em;" %>
                </div>
              </div>
            </div>
          <% end %>
        </div>

      </div>
    </div>

  <% end %>
</div>
