<div class="container">
  <div class="row">

    <!--サイドバー-->
    <div class="col-12 d-lg-none d-xl-none mt-4">
      <p>
        <button type="button" class="btn btn-light" data-toggle="collapse" data-target="#shopmenu" aria-expanded="false" aria-controls="shopmenu">
          <i class="fas fa-bars"></i>
        </button>
      </p>
      <div>
        <div class="collapse width" id="shopmenu">
          <div class="card card-body" style="width: 250px;">
            <%= render 'public/shops/sidebar', shop: @shop, user: @user, categories: @categories %>
          </div>
        </div>
      </div>
    </div>

    <div class="col-2 d-none d-lg-block">
      <%= render 'public/shops/sidebar', shop: @shop, user: @user, categories: @categories %>
    </div>

    <!--カテゴリー-->
    <div class="col-12 col-lg-10 pl-5">

      <!--error_message-->
      <% if @category.errors.any? %>
        <ul>
          <% @category.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>

      <!--新規登録-->
      <div class="row">
        <div class="col-12">
          <div class="pt-4 h4">
            カテゴリー新規登録
          </div>

          <%= form_with model: @category, url: user_shop_categories_path do |f| %>
            <div class="row">
              <div class="col-12 col-md-4 pt-3">
                <%= f.text_field :name, class: 'form-control', placeholder: "カテゴリーを入力" %>
              </div>
              <div class="col-12 col-md-3 pt-3">
                <%= f.submit "新規登録", class: 'btn btn-primary btn-block' %>
              </div>
              <div class="col-md-5 d-none d-md-block"></div>
            </div>
          <% end %>
        </div>
      </div>

      <!--一覧-->
      <div class="row my-5">
        <div class="col-12">
          <div class="h5 pt-4">
             <strong>カテゴリー一覧</strong>
          </div>

          <div class="row">
            <div class="col-12 col-md-8">

              <div class="card">
                <div class="card-body">
                  <% @categories.each do |category| %>
                    <div class="form-group">
                      <div class="row">
                         <div class="col-6">
                           <%= category.name %>
                         </div>
                         <div class="col-3">
                           <%= link_to "編集", edit_user_shop_category_path(params[:user_id], category), class: 'btn btn-success btn-block' %>
                         </div>
                         <div class="col-3">
                           <%= link_to "削除", user_shop_category_path(params[:user_id], category), method: :delete, class: 'btn btn-danger btn-block', data: {confirm: "本当に削除しますか？"} %>
                         </div>
                      </div>
                    </div>
                    <hr>
                  <% end %>

                </div>
              </div>
            </div>
            <div class="col-md-4 d-none d-md-block"></div>
          </div>

        </div>
      </div>
    </div>

  </div>
</div>