<div class="container">
  <div class="row">
    <!--<div class="col-2">-->
    <!--  <%#= render 'public/shops/sidebar', shop: @shop %>-->
    <!--</div>-->

    <div class="col-12">
      <div class="form-group">
        <div class="row">
          <div class="col-3 h4">
            <strong>カート商品</strong>
          </div>
          <div class="col-9 text-right">
            <%= link_to "カートを空にする", cart_items_destroy_all_path(current_user), method: :delete, class: 'btn btn-danger',
                data: {confirm: "カート内商品をすべて削除しますか？"} %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <div class="card">
            
            <!--ボディ-->
            <div class="card-body">
              <% if @cart_item.present? %>
                <% @cart_items.each do |cart_item| %>
  
                  <div class="form-group">
                    <div class="row">
                      <div class="col-12 col-lg-3 bg-white">
                        がぞう
                      </div>
                      <div class="col-12 col-lg-9">
                        <div class="m-2">
                          <%= cart_item.item.shop.user.name %>さんから
                          <%= cart_item.item.name %>を
                          <%= cart_item.item.price %>円(税込)で購入する
                          <%= link_to "カートから削除", cart_item_path(cart_item), method: :delete, class: 'btn btn-danger',
                              data: {confirm: "カートから削除しますか？"} %>
                        </div>
                      </div>
                    </div>
                    
                    <div class="row">
                      <div class="col-12 col-lg-6">
                        <%= form_with model: cart_item, url: cart_item_path(cart_item), method: :patch do |f| %>
                          <%= f.hidden_field :item_id, :value => cart_item.item_id %>
                          <%= f.select :amount, *[1..5] %>
                          <%= f.submit "数量変更", class: 'btn btn-light' %>
                        <% end %>
                      </div>
                      
                      <div class="col-12 col-lg-6">
                        小計<%= cart_item.item.price * cart_item.amount %>
                      </div>
                    </div>
                    
                  </div>
                <% end %>
              <% else %>
                <div class="m-5 text-center">
                  カート内はからっぽです！
                </div>
              <% end %>
            </div>
            
            <!--フッター-->
            <div class="card-footer">
              <div class="row text-center">
                <div class="col-12 text-right">
                  <% if @cart_items.present? %>
                    <%#= link_to "ほかの商品を見る", user_shop_path(user.name_id), class: 'btn btn-light' %>
                    <%= link_to "注文情報を入力", new_user_shop_order_path(current_user), class: 'btn btn-lg btn-primary' %>
                  <% else %>
                    <%= link_to "TOPに戻る", root_path, class: 'btn btn-primary' %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>