<div class="container">
  <div class="row my-3">
    <div class="col-12">

      <!--error_message-->
      <% if @order.errors.any? %>
      <div class="p-3">
        <%= @order.errors.count %>件のエラーがあります
      </div>
      <ul>
        <% @order.errors.full_messages.each do |message| %>
          <li class="text-danger"><strong><%= message %></strong></li>
        <% end %>
      </ul>
      <% end %>


      <div class="card">

        <div class="card-header">
          注文情報入力
        </div>

        <!--購入商品情報一覧-->
        <div class="form-group">
          <h4 class="pt-2 pl-3">
            <strong>購入商品情報</strong>
          </h4>
          <hr>
        </div>

        <% @cart_items.each do |cart_item| %>
          <div class="row m-3">
            <div class="col-12 col-md-3">
              <div class="pt-2 text-center my-auto">
                <%= image_tag cart_item.item.get_item_image(100,100) %>
              </div>
            </div>

            <div class="col-12 col-md-4 my-auto">
              <div class="m-2">
                【<%= cart_item.item.name %>】
              </div>

              <div class="m-2 pl-5"><%= cart_item.item.price %>円(税込)</div>
              <hr>

              <div class="m-2 pl-5">
                個数：<%= cart_item.amount %>
              </div>
            </div>

            <div class="col-md-5 d-none d-md-block"></div>

          </div>
        <% end %>

        <!--情報入力-->
        <%= form_with model: @order, url: orders_confirm_user_shop_path do |f| %>

          <!--ボディ-->
          <div class="card-body">
            <div class="form-group">
              <h4>
                <strong>お客様情報</strong>
              </h4>
              <hr>
            </div>

            <div class="form-group">
              <div class="row">
                <div class="col-12 col-lg-4">
                  氏名
                </div>
                <div class="col-12 col-lg-8">
                  <%= f.text_field :client_name %>
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="row">
                <div class="col-12 col-lg-4">
                  電話番号(ハイフンなし)
                </div>
                <div class="col-12 col-lg-8">
                  <%= f.text_field :client_phone_number %>
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="row mb-5">
                <div class="col-12 col-lg-4">
                  メールアドレス
                </div>
                <div class="col-12 col-lg-8">
                  <%= f.text_field :client_email %>
                </div>
              </div>
            </div>

            <div class="form-group">
              <hr>
              <h4>
                <strong>配送先情報</strong>
              </h4>
              <hr>
            </div>

            <div class="form-group">
              <div class="row">
                <div class="col-12 col-lg-4">
                  配送先郵便番号(ハイフンなし)
                </div>
                <div class="col-12 col-lg-8">
                  <%= f.text_field :delivery_post_code %>
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="row">
                <div class="col-12 col-lg-4">
                  配送先住所
                </div>
                <div class="col-12 col-lg-8 pr-5">
                  <%= f.text_field :delivery_address, class: 'form-control' %>
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="row mb-5">
                <div class="col-12 col-lg-4">
                  配送先氏名
                </div>
                <div class="col-12 col-lg-8">
                  <%= f.text_field :delivery_name %>
                </div>
              </div>
            </div>

            <div class="form-group">
              <hr>
              <h4>
                <strong>支払い方法</strong>
              </h4>
              <hr>
            </div>

            <div class="form-group">
              <div class="row">
                <div class="col-12">
                  <%= f.radio_button :payment_method, Order.payment_methods.key(0) %>
                  <%= f.label :payment_method_credit_card, Order.payment_methods_i18n[:credit_card] %>
                  <br>
                  <%= f.radio_button :payment_method, Order.payment_methods.key(1) %>
                  <%= f.label :payment_method_transfer, Order.payment_methods_i18n[:transfer] %>
                </div>
              </div>
            </div>
          </div>

          <!--フッター-->
          <div class="card-footer text-center">
            <div class="col-12 col-md-8 offset-md-2">
              <div class="mt-3">
                <%= f.hidden_field :shop_id, :value => @shop.id %>
                <%= f.submit "注文情報を確認する", class: 'btn btn-success btn-block' %>
              </div>
              <div class="pt-4">
                <%= link_to "カートに戻る", cart_items_path(current_user), class: 'text-right' %>
              </div>
            </div>

            <div class="col-md-2 d-none d-md-block"></div>

          </div>

        <% end %>

      </div>

    </div>
  </div>
</div>
