<div class="container">
  <div class="row">

    <!--サイドバー-->
    <div class="col-12 d-lg-none d-xl-none mt-4">
      <p>
        <button type="button" class="btn btn-light" data-toggle="collapse" data-target="#shopmenu" aria-expanded="false" aria-controls="shopmenu">
          <i class="fas fa-bars"></i>
        </button>
      </p>
      <div>
        <div class="collapse width" id="shopmenu">
          <div class="card card-body" style="width: 250px;">
            <%= render 'public/shops/sidebar', shop: @shop, user: @user, categories: @categories %>
          </div>
        </div>
      </div>
    </div>

    <div class="col-2 d-none d-lg-block">
      <%= render 'public/shops/sidebar', shop: @shop, user: @user, categories: @categories %>
    </div>


    <!--右側-->
    <div class="col-lg-10 col-md-12">
      <div class="row p-3">
       <h4>
        <strong>注文詳細</strong>
      </h4>
    </div>

        <div class="row">
          <div class="col-12">

            <div class="card">
              <div class="card-header">
                購入情報
              </div>

              <div class="card-body">

                <div class="form-group">
                  <div class="row">
                    <div class="col-12 col-md-3">
                      <strong>購入者氏名</strong>
                    </div>
                    <div class="col-12 col-md-9">
                      <%= @order.client_name %>
                    </div>
                  </div>
                </div>
                <hr>

                <div class="form-group">
                  <div class="row">
                    <div class="col-12 col-md-3">
                      <strong>購入者電話番号</strong>
                    </div>
                    <div class="col-12 col-md-9">
                      <%= @order.client_phone_number %>
                    </div>
                  </div>
                </div>
                <hr>

                <div class="form-group">
                  <div class="row">
                    <div class="col-12 col-md-3">
                      <strong>購入者メールアドレス</strong>
                    </div>
                    <div class="col-12 col-md-9">
                      <%= @order.client_email %>
                    </div>
                  </div>
                </div>
                <hr>

                <div class="form-group">
                  <div class="row">
                    <div class="col-12 col-md-3">
                      <strong>購入商品</strong>
                    </div>
                  </div>

                  <% @order.order_details.each do |order_detail| %>
                    <div class="row">
                      <div class="col-12 col-md-3">
                        <div class="pt-2 text-center my-auto">
                          <%= image_tag order_detail.item.get_item_image(100,100) %>
                        </div>
                      </div>

                      <div class="col-12 col-md-4 my-auto">
                        <div class="m-2">
                          【<%= order_detail.item.name %>】
                        </div>

                        <div class="m-2 pl-5"><%= order_detail.item.price %>円(税込)</div>
                        <hr>

                        <div class="m-2 pl-5">
                          個数：<%= order_detail.amount %>
                        </div>
                      </div>

                      <div class="col-md-5 d-none d-md-block"></div>

                    </div>
                    <hr>
                  <% end %>
                </div>

                <div class="form-group">
                  <div class="row">
                    <div class="col-12 col-md-3">
                      <strong>請求金額</strong>
                    </div>
                    <div class="col-12 col-md-9">
                      <div><%= @order.total_payment %>円</div>
                      <div>(送料：<%= @order.postage %>円)</div>
                    </div>
                  </div>
                </div>
                <hr>

                <div class="form-group">
                  <div class="row">
                    <div class="col-12 col-md-3">
                      <strong>注文ステータス</strong>
                    </div>

                    <div class="col-12 col-md-9">
                      <%= form_with model: @order, url:user_shop_order_path, method: :patch do |f| %>
                        <div class="">
                          <%= f.hidden_field :order_id, :value => @order.id %>
                          <%= f.select :status, Order.statuses_i18n.invert %>
                        </div>
                        <div class="py-2">
                          <%#= f.select :status, options_from_collection_for_select(@order, :id, :status_i18n) %>
                          <%= f.submit "変更する", class: 'btn btn-success px-5' %>
                        </div>
                      <% end %>
                      <%#= order_detail.order.status_i18n %>
                    </div>
                  </div>
                </div>

              </div>

            </div>
          </div>
        </div>

        <div class="row my-3">
          <div class="col-12">

            <div class="card">
              <div class="card-header">
                配送先情報
              </div>

              <div class="card-body">

                <div class="form-group">
                  <div class="row">
                    <div class="col-12 col-md-3">
                       <strong>郵便番号</strong>
                    </div>
                    <div class="col-12 col-md-9">
                      <%= @order.delivery_post_code %>
                    </div>
                  </div>
                </div>
                <hr>

                <div class="form-group">
                  <div class="row">
                    <div class="col-12 col-md-3">
                       <strong>住所</strong>
                    </div>
                    <div class="col-12 col-md-9">
                      <%= @order.delivery_address %>
                    </div>
                  </div>
                </div>
                <hr>

                <div class="form-group">
                  <div class="row">
                    <div class="col-12 col-md-3">
                       <strong>宛名</strong>
                    </div>
                    <div class="col-12 col-md-9">
                      <%= @order.delivery_name %>
                    </div>
                  </div>
                </div>

              </div>

            </div>
          </div>
        </div>


    </div>
  </div>
</div>


