<div class="container">
  <div class="row">
    <div class="col-12">

      <div class="card bg-white">
        <div class="card-header">
          ユーザー情報詳細
        </div>

        <div class="card-body">
          <div class="row">
            <div class="col-3">
              <div class="mb-3">なまえ</div>
              <div class="mb-3">ユーザーID</div>
              <div class="mb-3">ショップ名</div>
              <div class="mb-3">メールアドレス</div>
              <div class="mb-3">ステータス</div>
            </div>

            <div class="col-6">
              <div class="mb-3"><%= @user.name %></div>
              <div class="mb-3"><%= @user.name_id %></div>
              <div class="mb-3"><%#= @user.shop.name %>ショップのなまえ</div>
              <div class="mb-3"><%= @user.email %></div>
              <div class="mb-3">
                <%= form_with model: @user, url:admin_user_path do |f| %>
                  <div class="">
                    <%= f.radio_button :is_deleted, "false" %>
                    <%= f.label :is_deleted_false, "有効" %>

                    <%= f.radio_button :is_deleted, "true" %>
                    <%= f.label :is_deleted_false, "退会" %>
                  </div>
                  <div class="my-3">
                    <%= f.submit '変更を保存', class: 'btn btn-success' %>
                  </div>
                <% end %>
              </div>
            </div>
            <div class="col-3">
              <div class="">
                icon
              </div>
            </div>

          </div>
        </div>

      </div>

    </div>
  </div>
</div>