<div class="bg-primary">
  <div class="container">

    <div class="row mx-5">
      <div class="col-4 offset-4">
        <h2 class="p-4 text-light text-center">ログイン</h2>
        <%= render "public/shared/error_messages", resource: resource %>
      </div>
      <div class="col-4"></div>
    </div>

    <%= form_with model: @user, url:user_session_path, method: :post do |f| %>
      <div class="row">
        <div class="col-3 offset-3 bg-white">
          <div class="h5 mt-4 pt-5 text-center">ユーザーID</div>
          <div class="h5 mt-4 pt-3 pb-5 text-center">パスワード</div>
        </div>

        <div class="col-3 bg-white">
          <div class="mt-4 pt-5">
            <%= f.text_field :name_id, autofocus: true %>
          </div>
          <div class="mt-4 pt-2 pb-5">
            <%= f.password_field :password, autocomplete: "current-password" %>
          </div>
        </div>
        <div class="col-3"></div>
      </div>

      <div class="row pb-5">
        <div class="col-6 offset-3 bg-white">
          <div class="mb-5 text-center">
            <%= f.submit "ログイン", class: 'btn btn-lg btn-success' %>
          </div>
        </div>
        <div class="col-3"></div>
      </div>

    <% end %>

    <%= render "public/shared/links" %>

  </div>
</div>
