<div class="container">
  <div class="row">

    <div class="card m-5 mx-auto" style="width: 35rem;">

      <!--ヘッダー-->
      <div class="card-header">
        マイ情報
      </div>

      <!--ボディ-->
      <div class="card-body">

        <div class="form-group">
          <div class="row">
            <div class="col-12 pb-3">
              <%= image_tag user.get_user_icon(100,100) %>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <div class="col-4 pb-3">
              なまえ
            </div>

            <div class="col-8 pb-3">
              <%= user.name %>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <div class="col-4 pb-3">
              ユーザーid
            </div>

            <div class="col-8 pb-3">
              <%= user.name_id %>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <div class="col-4 pb-3">
              プロフィール
            </div>

            <div class="col-8 pb-3">
              <%= simple_format(user.profile) %>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <div class="col-4 pb-3">
              メールアドレス
            </div>

            <div class="col-8 pb-3">
              <%= user.email %>
            </div>
          </div>
        </div>
      </div>

      <!--フッター-->
      <div class="card-footer">
        <div class="row">

          <div class="col-12 col-md-4 mt-2">
            <%= link_to "編集する", edit_user_path(user.name_id), class: 'btn btn-success btn-block' %>
          </div>

          <div class="col-12 col-md-4 mt-2">
            <%= link_to "注文履歴を見る", user_user_orders_path({name_id: current_user.name_id}), class: 'btn btn-warning btn-block' %>
          </div>

          <div class="col-12 col-md-4 mt-2">
            <% if user.shop.present? %>
              <%= link_to "マイショップ", user_shop_path(user.name_id), class: 'btn btn-primary btn-block' %>
            <% else %>
              <%= link_to "ショップを作成", new_user_shop_path(user.name_id), class: 'btn btn-primary btn-block' %>
            <% end %>
          </div>

        </div>

        <div class="row">
          <div class="col-12 col-md-4 py-5">
            <%= link_to "退会する", user_confirm_path(current_user), class: 'btn btn-danger btn-block' %>
          </div>
          <div class="col-md-8 d-none d-md-block"></div>
        </div>

      </div>

    </div>


  </div>
</div>