<div class="container">
  <div class="row mx-3">

    <!--error_message-->
    <% if @user.errors.any? %>
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li class="text-danger"><strong><%= message %></strong></li>
        <% end %>
      </ul>
    <% end %>

    <div class="card m-5 mx-auto" style="width: 50rem;">

      <!--ヘッダー-->
      <div class="card-header">
        マイ情報編集
      </div>

      <!--ボディ-->
      <div class="card-body p-4">

        <%= form_with model: @user, url:user_path, method: :patch do |f| %>
          <div class="form-group">
            <div class="row">
              <div class="col-12 col-lg-8 pb-3">
                <%= f.file_field :user_icon, accept: "image/*", style: "font-size: 0.8em;" %>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="row">
              <div class="col-12 col-lg-4 pb-3">
                なまえ
              </div>

              <div class="col-12 col-lg-8 pb-3">
                <%= f.text_field :name, class: 'form-control' %>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="row">
              <div class="col-12 col-lg-4 pb-3">
                ユーザーid
              </div>

              <div class="col-12 col-lg-8 pb-3">
                <%= f.text_field :name_id, class: 'form-control' %>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="row">
              <div class="col-12 col-lg-4 pb-3">
                プロフィール
              </div>

              <div class="col-12 col-lg-8 pb-3">
                <%= f.text_area :profile, class: 'form-control' %>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="row">
              <div class="col-12 col-lg-4 pb-3">
                メールアドレス
              </div>

              <div class="col-12 col-lg-8 pb-3">
                <%= f.text_field :email, class: 'form-control' %>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="row">
              <div class="col-12 text-center">
                <div class="my-4 px-5">
                  <%= f.submit "変更を保存", class: 'btn btn-block btn-success' %>
                </div>
              </div>
            </div>
          </div>

        <% end %>

      </div>

    </div>
  </div>
</div>