<div class="container">
  <div class="row">

    <!--注文履歴一覧-->
    <% if @orders.present? %>

      <!--注文履歴有の場合 左-->
      <div class="col-12 col-md-8">
        <% @orders.reverse.each do |order| %>
          <div class="card mx-3 my-4">
            <div class="card-header">
              注文履歴<br>
              <%= order.created_at.in_time_zone('Tokyo').strftime('%Y/%m/%d %H:%M') %>
            </div>

            <div class="card-body">

              <div class="form-group">
                <div class="row">
                  <div class="col-12">
                    ショップ名：
                    <%= link_to user_shop_path(order.shop.user.name_id) do %>
                      <%= order.shop.name %>
                    <% end %>
                  </div>
                </div>
              </div>

              <hr>
              <% order.order_details.each do |order_detail| %>
                <div class="form-group">
                  <div class="row">
                    <div class="col-12 col-md-2 text-center-my-auto">
                      <%= image_tag order_detail.item.get_item_image(50,50) %>
                    </div>

                    <div class="col-12 col-md-3">
                      <strong><%= order_detail.item.name %></strong>
                    </div>

                    <div class="col-12 col-md-3 pl-4">
                      <%= order_detail.order_price %>円 × <%= order_detail.amount %>点
                    </div>

                    <div class="col-12 col-md-4">
                       <strong>小計：<%= order_detail.order_price * order_detail.amount %>円</strong>
                    </div>

                  </div>
                </div>
                <hr>
              <% end %>

              <div class="form-group">
                <div class="row">
                  <div class="col-12">
                    <div class="">送料：<%= order.postage %>円</div>
                  </div>
                </div>
              </div>
              <hr>

              <div class="form-group">
                <div class="row">
                  <div class="col-12">
                    <div class=""><%= order.status_i18n %></div>
                  </div>
                </div>
              </div>

              <div class="form-group text-right pr-3">
                <hr>
                  <div class="row">
                    <div class="col-12 col-md-9">
                       <h5><strong>請求金額</strong></h5>
                    </div>
                    <div class="col-12 col-md-3">
                      <h5><strong><%= order.total_payment %>円</strong></h5>
                    </div>
                  </div>
                <hr>
              </div>

            </div>
          </div>
        <% end %>
      </div>

      <!--右　プロフィール・ショップ情報-->
      <div class="col-12 col-md-4 mb-5 mb-md-0 pt-4">
        <%= render "public/users/user_sidebar", user: @user, shop: @shop %>
      </div>

    <% else %>

      <!--注文履歴なしの場合　左-->
      <div class="col-12 col-md-8 pt-4">
        <div class="m-5 text-center">
          注文履歴はありません
        </div>

        <div class="row">
          <div class="col-12 col-md-4 offset-md-4">
            <%= link_to "ユーザーページに戻る", user_path(current_user.name_id), class: 'btn btn-primary btn-block' %>
          </div>
          <div class="col-md-4 d-none d-md-block"></div>
        </div>
      </div>

      <!--右　プロフィール・ショップ情報-->
      <div class="col-12 col-md-4 mb-5 mb-md-0 pt-4">
        <%= render "public/users/user_sidebar", user: @user, shop: @shop %>
      </div>


    <% end %>

  </div>
</div>