<div class="container">
  <div class="row">

    <!--サイドバー-->
    <div class="col-12 d-lg-none d-xl-none mt-4">
      <p>
        <button type="button" class="btn btn-light" data-toggle="collapse" data-target="#shopmenu" aria-expanded="false" aria-controls="shopmenu">
          <i class="fas fa-bars"></i>
        </button>
      </p>
      <div>
        <div class="collapse width" id="shopmenu">
          <div class="card card-body" style="width: 250px;">
            <%= render 'public/shops/sidebar', shop: @shop %>
          </div>
        </div>
      </div>
    </div>

    <div class="col-2 d-none d-lg-block">
      <%= render 'public/shops/sidebar', shop: @shop %>
    </div>


    <div class="col-lg-10 col-md-12 mx-auto">
      <div class="card my-3">

        <div class="card-header">
          商品情報編集
        </div>

        <%= form_with model: @item, url:user_shop_item_path(@item), method: :patch do |f| %>
          <div class="card-body">

            <div class="row m-3">
              <div class="form-group">
                <div class="col-12">
                  <%= f.file_field :item_image, accept: 'image/*' %>
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="row">
                <div class="col-12 col-lg-4 pb-3">
                  商品名
                </div>
                <div class="col-12 col-lg-8 pb-3">
                  <%= f.text_field :name, class: 'form-control', placeholder: "商品名" %>
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="row">
                <div class="col-12 col-lg-4">
                  商品説明
                </div>
                <div class="col-12 col-lg-8">
                  <%= f.text_area :introduction, rows: 5, class: 'form-control', placeholder: "商品の説明文" %>
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="row">
                <div class="col-12 col-lg-4">
                  販売価格
                </div>
                <div class="col-12 col-lg-8">
                  <%= f.text_field :price, placeholder: "100円以上" %> 円(税込)
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="row">
                <div class="col-12 col-lg-4">
                  在庫数
                </div>
                <div class="col-12 col-lg-8">
                  <%= f.text_field :stock, placeholder: "0以上入力" %> 個
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="row">
                <div class="col-12 col-lg-4">
                  販売ステータス
                </div>
                <div class="col-12 col-lg-8">
                  <%= f.radio_button :is_sale, "true" %>
                  <%= f.label :is_sale_true, "販売中" %>

                  <%= f.radio_button :is_sale, "false" %>
                  <%= f.label :is_sale_false, "品切れ" %>
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="row">
                <div class="col-12 col-lg-6 offset-lg-3">
                  <%= f.submit "変更を保存", class: 'btn btn-success form-control' %>
                </div>
                <div class="col-lg-3 d-none d-lg-block"></div>
              </div>
            </div>

          </div>
        <% end %>
      </div>
      <div class="py-3 text-center">
        <%= link_to "TOPに戻る", user_shop_path(@item.shop.user.name_id, @shop.id) %>
      </div>
    </div>
  </div>
</div>