<!DOCTYPE html>
<html>
  <head>
    <title>Nicess</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/1fb7250b00.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <header>
    <div class="container">

      <div class="row">
        <div class="col-9"></div>
        <div class="col-3 p-3">
          <div class="dropdown">
            <button class="btn btn-lg dropdown-toggle" type="button" id="dropdownMenu" aria-haspopup="true" data-toggle="dropdown" aria-expanded="false">
              NICESS
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu">

              <!--ログイン後-->
              <% if user_signed_in? %>
                <li class="dropdown-item">
                  <%= link_to "TOP", root_path, class: 'nav-link' %>
                </li>
                <li class="dropdown-item">
                  <%= link_to "ABOUT", about_path, class: 'nav-link' %>
                </li>
                <li class="dropdown-item">NOTICE</li>
                <li class="dropdown-item">
                  <%= link_to "PROFILE", user_path(current_user.name_id), class: 'nav-link' %>
                </li>
                <li class="dropdown-item">
                  <%= link_to "MY CART", user_shop_cart_items_path(current_user), class: 'nav-link' %>
                </li>
                <li class="dropdown-item">
                  <%= link_to "LOG OUT", destroy_user_session_path, method: :delete, class: 'nav-link' %>
                </li>

              <!--管理ログイン後-->
              <% elsif admin_signed_in? %>
                <li class="dropdown-item">ユーザー一覧</li>
                <li class="dropdown-item">
                  <%= link_to "LOG OUT", destroy_admin_session_path, method: :delete, class: 'nav-link' %>
                </li>

              <!--ログイン前-->
              <% else %>
                <li class="dropdown-item">
                  <%= link_to "TOP", root_path, class: 'nav-link' %>
                </li>
                <li class="dropdown-item">
                  <%= link_to "ABOUT", about_path, class: 'nav-link' %>
                </li>
                <li class="dropdown-item">
                  <%= link_to "NEW USER", new_user_registration_path, class: 'nav-link' %>
                </li>
                <li class="dropdown-item">
                  <%= link_to "LOG IN", new_user_session_path, class: 'nav-link' %>
                </li>

              <% end %>

            </ul>
          </div>

        </div>
      </div>

    </div>
  </header>


    <%= yield %>
  </body>

</html>
