<!DOCTYPE html>
<html>
  <head>
    <title>Nicess</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header>
    <div class="container">

      <div class="row">
        <div class="col-9"></div>
        <div class="col-3">
          <nav class="navbar navbar-expend-lg navbar-light fixed-right">
            <div class="h2">NICESS</div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMenu"
                           aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          </nav>
        </div>
      </div>

    </div>
  </header>

  <body>
    <%= yield %>
  </body>
</html>
